<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: '404 - Page Not Found'}) %>

<body>

    <h1>404</h1>
    <h2>Oops! Page Not Found</h2>
    <p>It looks like you’ve wandered off the map. The page you’re looking for doesn’t exist.</p>
    <a href="/">Go Back Home</a>

</body>
</html>