<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: 'HOME | culture'}) %>

<body>
    <div class="landing-block">

        <div>
            <a href="/index">HOME</a><br>
            <a href="/about">ABOUT</a><br>
            <a href="/events">EVENTS</a><br>
            <a href="/articles">ARTICLES</a>
        </div>

        <div class="title-block"> 
            <h1>culture.</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, Stet clita kasd gubergren, no sea takimata sanctus est Lorem i</p>
        </div>

        <div>
            <a href="/profile">PROFILE</a>
        </div>

    </div>
    <div class="article-swipe">
    
        <div class="article-cards" style="background-image: url(/images/ximage_opinionarticle_boyclothes.png);">
            <div class="article-cards-textblock"> 
                <h6>Charlene Jänchen</h6>
                <h4>Meine Unnötige Meinung zu allem was ich will</h4>
            </div>
        </div>

        <div class="article-cards" style="background-image: url(/images/ximage_opinionarticle_MaisonMargielashoes.png);">
            <div class="article-cards-textblock">
                <h6>Author</h6>
                <h4>Title</h4>
            </div>
        </div>

        <div class="article-cards" style="background-image: url(/images/ximage_opinionarticle_pants.png);">
            <div class="article-cards-textblock">
                <h6>Author</h6>
                <h4>Title</h4>
            </div>
        </div>

        <div class="article-cards" style="background-image: url(/images/ximage_opinionarticle_silhouette.png);">
            <div class="article-cards-textblock">
                <h6>Author</h6>
                <h4>Title</h4>
            </div>
        </div>

        <div class="article-cards" style="background-image: url(/images/ximage_opinionarticle_skinnjeans.png);">
            <div class="article-cards-textblock">
                <h6>Author</h6>
                <h4>Title</h4>
            </div>
        </div>

        <div class="article-cards" style="background-image: url(/images/ximage_opinionarticle_smokingaccessory.png);">
            <div class="article-cards-textblock">
                <h6>Author</h6>
                <h4>Title</h4>
            </div>
        </div>

        <div class="article-cards" style="background-image: url(/images/ximage_opinionarticle_furr.png);">
            <div class="article-cards-textblock">
                <h6>Author</h6>
                <h4>Title</h4>
            </div>
        </div>
       
    </div>
    <div class="subpage-headline">
        opinions.
    </div>
    </div>

    <div class="contact-wrapper">

        <!-- Left panel: contact info -->
        <div class="contact-info-panel">
            <div class="contact-info-fields">
                <div class="contact-info-item">
                    <span class="contact-info-label">Email </span>
                    <span class="contact-info-value">contact@culture.com</span>
                </div>
                <div class="contact-info-item">
                    <span class="contact-info-label">Phone</span>
                    <span class="contact-info-value">+49 123 456790</span>
                </div>
                <div class="contact-info-item">
                    <span class="contact-info-label">Address</span>
                    <span class="contact-info-value">culture GmbH<br>Donaustraße 44,<br>12043 Berlin</span>
                </div>
            </div>
            <h2 class="contact-info-heading">contact us.</h2>
        </div>

        <!-- Right panel: form -->
        <div class="contact-form-panel">
            <form class="contact-form" action="/home" method="post">
                <div class="contact-form-row">
                    <div class="contact-form-field">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="user_name" placeholder="Your full name">
                    </div>
                    <div class="contact-form-field">
                        <label for="email">Email </label>
                        <input type="email" id="email" name="user_email" placeholder="Your Email address">
                    </div>
                </div>
                <div class="contact-form-field contact-form-field--full">
                    <label for="message">Message</label>
                    <textarea id="message" name="user_message" placeholder="Write something..."></textarea>
                </div>
                <button type="submit">Send Message</button>
            </form>
        </div>

    </div>

    
</body>
</html>