<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: 'culture | PROFILE'}) %>

<body>
   <div class="landing-block">
        <div>
            <a href="/index">HOME</a><br>
            <a href="/about">ABOUT</a><br>
            <a href="/events">EVENTS</a><br>
            <a href="/articles">ARTICLES</a>
        </div>

        <div class="title-block"> 
            <h1>culture.</h1>
        </div>

        <div>
            <a href="/profile">PROFILE</a><br>
            <a href="/my-articles">MY ARTICLES</a>
        </div>
    </div> 

    <!-- Article Upload Form-->
    <form action="/profile" method="post">
       <div>
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Your article Title">
        </div>
        <div>
            <div>
                <label for="author">Author</label>
                <input type="text" name="author" placeholder="Your full name">
            </div>
            <div>
                <label for="date">Date</label>
                <input type="date" name="date" placeholder="The article publishing date">
            </div>
        </div>
        <div>
            <label for="article">Article</label>
            <textarea name="article" placeholder="Your article text"></textarea>
        </div>
        <button type="upload">Upload Article</button> 
    </form>

    <div class="subpage-headline">
        profile.
    </div>
</body>
</html>