<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head', {title: 'culture | ARTICLES'}) %>

<body>
    <div class="landing-block">

        <div>
            <a href="/index">HOME</a><br>
            <a href="/about">ABOUT</a><br>
            <a href="/events">EVENTS</a><br>
            <a href="/articles">ARTICLES</a>
        </div>

        <div class="title-block"> 
            <h1>culture.</h1>
        </div>

        <div>
            <a href="/profile">PROFILE</a><br>
            <a href="/my-articles">MY ARTICLES</a>

        </div>

    </div> 
    
    <div>
        <ul>
            <% allArticles.forEach(article => { %>
                <li><%= article.author %>
                    <br> 
                    <a href="/articles/<%= article.slug %>"><%= article.title %></a>
                </li><br>
            <% }) %>
        </ul>
    </div>

    <div class="subpage-headline">
        mine.
    </div>
</body>
</html>